h1 #{ title }

p.text-center "Lavender listened to me and held me close." <br /> -Wilson

p.text-center "He is the gold standard of the industry." <br /> -Wilson

p.text-center "He paid me to write good reviews." <br /> -Wilson

p.text-center: a.btn-large.btn(href="/") back to main screen you dirty tease