h1 #{ title }

p.text-center: a.btn-large.btn(onClick='welcomeRoutine()') Welcome

p.text-center: a.btn-large.btn(href="clientSuccess") Client Success

p.text-center: a.btn-large.btn(href="pricing") Pricing

audio(id='theLavenderExperienceWelcomeMp3', hidden)
	source(src='sounds/theLavenderExperienceWelcome.mp3', type='audio/mpeg')

img(id = "lavenderBrown" src= "images/lavenderBrown.jpg")