h1 #{ title }

p.text-center Hey guys the best part about this is that it's free so come on down to my hometown of Lavender Town!

img(src= "images/lavTown.png", onClick='playFartOrPokemon()')

<br/>

p.text-center: a.btn-large.btn(href = "/") back to main screen you little goofball you

audio(id='naturalFart', hidden)
	source(src='sounds/naturalFart.mp3', type='audio/mpeg')

audio(id='pokemonSoundClip', hidden)
	source(src='sounds/pokemonSoundClip.mp3', type='audio/mpeg')